# Part 2

* PART 2: SQLite

Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook
for the following questions.

QUESTIONS:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


/* Q12: Find the facilities with their usage by member, but not guests */


/* Q13: Find the facilities usage by month, but not guests */

Queries for questions

In [31]:
query_10 = """
        SELECT f.name,
            sum(CASE
                WHEN b.memid = 0 THEN b.slots * f.guestcost
                ELSE b.slots * f.membercost
                END) AS revenue
        FROM Facilities AS f
            INNER JOIN Bookings AS b ON b.facid = f.facid
        GROUP BY f.name
        HAVING revenue < 1000
        ORDER BY revenue;
        """

query_11 = """
        SELECT (m.firstname || ' ' || m.surname) as member,
               (r.firstname || ' ' || r.surname) as recommender
        FROM Members as m
            INNER JOIN Members as r ON m.recommendedby = r.memid
        WHERE m.recommendedby != 0
        ORDER BY r.surname, r.firstname;
        """

query_12 = """
        SELECT f.name as facility,
             COUNT(mb.memid) AS member_usage
        FROM (SELECT facid, memid
                FROM Bookings
                WHERE memid != 0) as mb
            INNER JOIN Facilities as f ON mb.facid = f.facid
        GROUP BY mb.facid;
        """

query_13 = """
    SELECT f.name as facility,
            mb.month as month,
            COUNT(mb.memid) as member_usage
    FROM (
        SELECT strftime('%m', starttime) as month, memid, facid
        FROM Bookings
        WHERE memid != 0) as mb
        INNER JOIN Facilities as f ON f.facid = mb.facid
    GROUP by mb.month;
    """

Load imports

In [32]:
import sqlite3
from sqlite3 import Error

Connect to database

In [33]:
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

In [34]:

def select_all_tasks(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    cur.execute(query)

    rows = cur.fetchall()

    for row in rows:
        print(row)

In [35]:
def main():
    database = '../sqlite_db_pythonsqlite.db'

    conn = create_connection(database)
    with conn:
        print("\n10) Return list of facilities with total revenue less than 1000")
        select_all_tasks(conn, query_10)

        print("\n11) Produce a report of members and who recommended them in alphabetic surname,firstname order")
        select_all_tasks(conn, query_11)

        print("\n12) Find the facilities with their usage by member, but not guests")
        select_all_tasks(conn, query_12)

        print("\n13) Find the facilities usage by month, but not guests")
        select_all_tasks(conn, query_13)
if __name__ == '__main__':
    main()

2.6.0

10) Return list of facilities with total revenue less than 1000
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

11) Produce a report of members and who recommended them in alphabetic surname,firstname order
('Ramnaresh Sarwin', 'Florence Bader')
('Joan Coplin', 'Timothy Baker')
('Matthew Genting', 'Gerald Butters')
('Timothy Baker', 'Jemima Farrell')
('David Pinker', 'Jemima Farrell')
('Henrietta Rumney', 'Matthew Genting')
('Douglas Jones', 'David Jones')
('Nancy Dare', 'Janice Joplette')
('David Jones', 'Janice Joplette')
('John Hunt', 'Millicent Purview')
('Tim Boothe', 'Tim Rownam')
('Janice Joplette', 'Darren Smith')
('Gerald Butters', 'Darren Smith')
('Charles Owen', 'Darren Smith')
('Jack Smith', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Henry Worthington-Smyth', 'Tracy Smith')
('Millicent Purview', 'Tracy Smith')
('Erica Crumpet', 'Tracy Smith')
('Anne Baker', 'Ponder Stibbons')
('Florence Bader', 'Ponder Stibbons')
('Ponder Stibbons', 'Burton Tracy')

12) Find the facilities with their usage by member, but not guests
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)

13) Find the facilities usage by month, but not guests
('Table Tennis', '07', 480)
('Tennis Court 1', '08', 1168)
('Tennis Court 1', '09', 1512)